version: "3.8"

services:

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      - MINIO_ROOT_USERNAME=${MINIO_ROOT_USERNAME:-username}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:-password}
    restart: unless-stopped
  
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    command: server -dev
    volumes:
      - ./vault-entrypoint.sh:/vault-entrypoint.sh
    environment:
      - VAULT_DEV_ROOT_TOKEN: ${VAULT_DEV_ROOT_TOKEN:-token}
      - VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
      - VAULT_ADDR: "http://0.0.0.0:8200"
    cap_add:
      - IPC_LOCK
    
  test:
    image: test:vault-minio
    environment:
      - name=value
    build:
      context: .
      dockerfile: Dockerfile